<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A personal webpage for Dr. Manjunatha D H, Assistant Professor, Department of Chemistry, Davangere University">
    <title>Dr. Manjunatha D H - Profile</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:ital,wght@0,400;1,100&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Josefin+Slab:wght@500&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Stylish&display=swap" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="css/blog.css" rel="stylesheet">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link
     href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
     rel="stylesheet"
    />
</head>
<body class="justifyText lora-forbody">

  

<!-- Messenger Chat plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "110875101758129");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v14.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div>
  
<nav class="navbar navbar-expand-lg d-flex navbar-light bg-light fixed-top" style="flex-direction: column;">
  <div class="container-fluid gap-3 border-bottom pb-2 topbar">


    <div class="flex-shrink-0 dropdown pt-2" style="padding-left: 1.3rem;">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="images/akash-1717.png" alt="akash-1717" width="32" height="32" class="rounded-circle">&nbsp;&nbsp;
        <text class="hrefTag1">Contact the developer</text>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="tel:+916363750120" aria-current="page">Call</a></li>
        <li><a class="dropdown-item" href="mailto:akashpersetti17@gmail.com">Email</a></li>
        <li><a class="dropdown-item" href="https://wa.me/+916363750120?text=Hello%20Akash,%20I'm%20contacting%20you%20through%20manjunath's%20personal%20website">WhatsApp</a></li>
      </ul>
    </div>



  </div>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      
    </button>
    <div class="collapse navbar-collapse pt-2" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around w-100">

        <li class="nav-item">
          <a class="nav-link active" href="/">
            <span class="hovereffect">Home</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/about">
            <span class="hovereffect">About</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/experience">
            <span class="hovereffect">Experience</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/awards">
            <span class="hovereffect">Awards</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/groupmembers">
            <span class="hovereffect">Group members</span>
          </a>
        </li>
        

        <li class="nav-item dropend">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="hovereffect">Publications</span>
          </a>
          <ul class="dropdown-menu mobileview" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/patents">Patents</a></li>
            <li><a class="dropdown-item" href="/researcharticles">Research Articles</a></li>
            <li><a class="dropdown-item" href="/reviewarticles">Review Articles</a></li>
            <li><a class="dropdown-item" href="/books">Books</a></li>
            <li><a class="dropdown-item" href="/bookchapters">Book Chapters</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/invitedtalks">
            <span class="hovereffect">Invited Talks</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/membership">
            <span class="hovereffect">Membership</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/researchprojects">
            <span class="hovereffect">Research Projects</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/conferences">
            <span class="hovereffect">Conferences/symposium</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" href="/alumni">
            <span class="hovereffect">Alumni</span>
          </a>
        </li>
        

      </ul>
    </div>
  </div>
</nav>
</div>

<script>
  window.addEventListener('resize', function() {
    var element = document.querySelector('.mobileview');
    if (window.innerWidth <= 991.98) {
      element.style.position = 'static';
    } else {
      element.style.position = 'absolute';
    }
  });
</script>