<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Alumni</h1>
  <hr class="divider">

  <table class="table">
    <thead>
      <tr>
        <th class="tablehead thisColor"><strong>Name</strong></th>
        <th class="tablehead thisColor"><strong>Course</strong></th>
        <th class="tablehead thisColor"><strong>Current position</strong></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nandeesh I M</td>
            <td>Ph.D</td>
            <td>Karnataka Antibiotics and Pharmaceutical Limited, Bangalore.</td>
            <td><img src="images/alumni.jpeg" alt="" width="200"></td>
        </tr>
    </tbody>
  </table>

</div>

<%- include("partials/footer"); -%>