<%- include("partials/header"); -%>

<div class="form-container">
  <form method="POST" action="/alumniform" enctype="multipart/form-data" style="margin-top: 9rem;">
    <div class="form-group">
      <label for="title">Name</label>
      <input type="text" id="" name="name" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="title">Course</label>
      <input type="text" id="" name="course" placeholder="Enter Course">
    </div>
    <div class="form-group">
      <label for="title">Current position</label>
      <input type="text" id="" name="curpos" placeholder="Enter current position">
    </div>
    <div class="form-group">
      <label for="title">Contact info</label>
      <input type="text" id="" name="contact" placeholder="Enter contact information">
    </div>
    <div class="form-group">
      <label for="title">Image</label>
      <input type="file" id="" name="imageimage">
    </div>
    <div class="form-group">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<%- include("partials/footer"); -%>