<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Awards</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-9">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1"><strong>Indian National Science Academy (INSA) visiting Scientist award-2021 FY 2021-22, to visit <br> <a class="hrefTag3" href="https://iisc.ac.in/">Indian Institute of Science, Bangalore</a>.</strong></h5>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>