<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">
  <h1>Awards</h1>
  <hr class="divider" />

  <div class="row mb-2">
    <% for (let i = data.length-1; i >= 0; i--) { %>
    <div class="col-md-9">
      <div
        class="row g-0 project border overflow-auto flex-md-row mb-4 shadow-lg position-relative publications"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h5 class="mb-0 thisColor myFont1">
            <strong> <%= data[i].descr %> </strong>
          </h5>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<%- include("partials/footer"); -%>
