<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Book chapters</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Flavonoids and Antioxidants in Medicinal Plants from Malaysia (Ch-2) </h5>
            <br>
            <strong class="d-inline-block mb-2 thisColor1">Year: 2014</strong>
            <strong class="d-inline-block mb-2 thisColor1">Book series: Recent progress in medicinal plants. </strong>
            <strong class="d-inline-block mb-2 thisColor1">Volume name: Flavonoids and antioxidants</strong>
            <strong class="d-inline-block mb-2 thisColor1">Volume number: 40</strong>
            <strong class="d-inline-block mb-2 thisColor1">Pages: 22-35</strong>
            <strong class="d-inline-block mb-2 thisColor1">ISBN of series: 0-9656038-5-7</strong>
            <strong class="d-inline-block mb-2 thisColor1">ISBN of volume: 1-62699-077-8</strong>
            <strong class="d-inline-block mb-2 thisColor1">Editors of volume: Dr. Manohar Pathak</strong>
            <strong class="d-inline-block mb-2 thisColor1">Executive Editor: Dr. J.N. Govil</strong>
            <strong class="d-inline-block mb-2 thisColor1">Publisher: Studium Press LLC, USA.</strong>
            <strong class="d-inline-block mb-2 thisColor1">Authors: Lee Suan Chua, Nur Fashya Musa, Norliza Abdul Latiff, Ismail Ware, Muna Mohamed, Syed Hidayathulla and Manjunatha D H</strong>
          <br>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>