<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Books</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <h5 class="mb-0 thisColor myFont1">A Textbook of Engineering Chemistry.</h5> <br>
            <strong class="d-inline-block mb-2 thisColor1">Year of publication: 2018</strong>
            <strong class="d-inline-block mb-2 thisColor1">ISBN: 978-93-5299-373-4</strong>
          <div class="mb-1 text-muted">Authors: C. Muthukumar, Manjunatha DH, Gurushantha K. </div>
          <div class="mb-1 text-dark">
            Publisher: Himalaya Publishing House. 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <h5 class="mb-0 thisColor myFont1">A concise Textbook on Engineering Chemistry. </h5> <br>
            <strong class="d-inline-block mb-2 thisColor1">Year of publication: 2016</strong>
            <strong class="d-inline-block mb-2 thisColor1">ISBN: 978-93-5262-298-6</strong>
          <div class="mb-1 text-muted">Authors: C. Muthukumar, Siju N Antony, Manjunatha D. H. </div>
          <div class="mb-1 text-dark">
            Publisher: Himalaya Publishing House. 
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>