<%- include("partials/header"); -%>

<div class="form-container">
  <form method="POST" action="/conferenceform" style="margin-top: 9rem;">
    <div class="form-group">
      <label for="">Conference name</label>
      <input type="text" id="" name="cname" placeholder="Enter conference name">
    </div>
    <div class="form-group">
      <label for="">Paper presented</label>
      <input type="text" id="" name="paper" placeholder="Enter paper presented">
    </div>
    <div class="form-group">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

<%- include("partials/footer"); -%>