<%- include("partials/header"); -%>

<div class="container mainPadding">
    <h3 class="myFont1 mt-4"><u>Contact me</u></h3>
    <table class="table mt-4">
        <tbody>
            <tr>
                <th><i class="hrefTag1 fa-solid fa-envelope fa-2xl"  style="--fa-animation-duration: 5s; --fa-animation-iteration-count: 0.5;"></i></th>
                <th><a class="hrefTag1" href="mailto:manjunathdh@gmail.com">manjunathdh@gmail.com</a></th>
            </tr>
            <tr>
                <td><i class="hrefTag1 fa-solid fa-envelope-open-text fa-2xl" style="--fa-animation-duration: 5s; --fa-animation-iteration-count: 0.5;"></i></td>
                <td><a class="hrefTag1" href="mailto:manjunathdh@davangereuniversity.ac.in">manjunathdh@davangereuniversity.ac.in</a></td>
            </tr>
            <tr>
                <td><i class="hrefTag1 fa-solid fa-phone fa-xl" style="--fa-animation-duration: 5s; --fa-animation-iteration-count: 1;"></i></td>
                <td><a class="hrefTag1" href="tel:+919886646232">9886-646232</a></td>
            </tr>
            <tr>
                <td><i class="hrefTag1 fa-brands fa-researchgate fa-2xl" style="--fa-animation-duration: 2s; --fa-animation-iteration-count: 1;"></i></td>
                <td><a class="hrefTag1" href="https://www.researchgate.net/profile/D-H-Manjunatha">Research Gate</a></td>
            </tr>
            <tr>
                <td><i class="hrefTag1 fa-solid fa-graduation-cap fa-2xl" style="--fa-animation-duration: 2s; --fa-animation-iteration-count: 1;"></i></td>
                <td><a class="hrefTag1" href="https://scholar.google.com/citations?user=Gqqi01UAAAAJ&hl=en">Google Scholar</a></td>
            </tr>
            <tr>
                <td><i class="hrefTag1 fa-solid fa-building-columns fa-2xl" style="--fa-animation-duration: 2s; --fa-animation-iteration-count: 1;"></i></td>
                <td><a class="hrefTag1" href="http://davangereuniversity.ac.in/wp-content/uploads/2020/03/Faculty-Profile-manjuantha.pdf">Davangere University</a></td>
            </tr>
            <tr>
                <td><i class="hrefTag1 fa-solid fa-message fa-2xl" style="--fa-animation-duration: 2s; --fa-animation-iteration-count: 1;"></i></td>
                <td><a class="hrefTag1" href="sms:+919886646232?body=Hello%20Manjunatha%20I%20am%20contacting%20you%20through%20your%20website.">Message</a></td>
            </tr>
        </tbody>
    </table>
</div>
    
<%- include("partials/footer"); -%>