<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Professional Experience</h1>
  <hr class="divider">

  <table class="table">
    <thead>
      <tr>
        <th class="tablehead thisColor"><strong>Institution name</strong></th>
        <th class="tablehead thisColor"><strong>From</strong></th>
        <th class="tablehead thisColor"><strong>To</strong></th>
        <th class="tablehead thisColor"><strong>Position/Title</strong></th>
        <th class="tablehead thisColor"><strong>Nature of work</strong></th>
        <th class="tablehead thisColor"><strong>Duration</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="leftAlign">Davangere University, Davangere</td>
        <td>Aug-19</td>
        <td>Till date</td>
        <td>Assistant Professor</td>
        <td>Teaching chemistry to PG students and Research in chemistry</td>
        <td>Currently working</td>
      </tr>
      <tr>
        <td class="leftAlign">Ramaiah Institute of Technology, Bengaluru</td>
        <td>Aug-16</td>
        <td>Aug-19</td>
        <td>Assistant Professor</td>
        <td>Teaching chemistry to PG students and Research in chemistry</td>
        <td>3 years</td>
      </tr>
      <tr>
        <td class="leftAlign">MVJ College of Engineering, Bengaluru</td>
        <td>Jul-15</td>
        <td>Aug-16</td>
        <td>Assistant Professor</td>
        <td>Taught engineering chemistry and Research in chemistry</td>
        <td>1 year</td>
      </tr>
      <tr>
        <td class="leftAlign">The Maratha Mandal, Belagavi</td>
        <td>Jul-14</td>
        <td>Jul-15</td>
        <td>Assistant Professor</td>
        <td>Taught chemistry to PG students</td>
        <td>1 year</td>
      </tr>
      <tr>
        <td class="leftAlign">Universiti Teknologi Malaysia</td>
        <td>Jun-13</td>
        <td>May-14</td>
        <td>Postdoctoral Research Fellow</td>
        <td>Research: Profiling of plant metabolites.</td>
        <td>1 year</td>
      </tr>
      <tr>
        <td class="leftAlign">Pohang University of Science and Technology, South Korea</td>
        <td>Apr-12</td>
        <td>Feb-13</td>
        <td>Postdoctoral Research Fellow</td>
        <td>Development of new detection systems for the detection of biomarkers (proteins) by aptamers</td>
        <td>1 year</td>
      </tr>
      <tr>
        <td class="leftAlign">Apotex Pharmachem India Pvt Ltd, Bengaluru</td>
        <td>Sep-08</td>
        <td>Nov-11</td>
        <td>Research Associate</td>
        <td>Development of analytical methods for drugs</td>
        <td>3 years, <br> 2 months</td>
      </tr>
      <tr>
        <td class="leftAlign">Karnatak University, Dharwad</td>
        <td>Jun-06</td>
        <td>May-07</td>
        <td>Guest Lecturer (Part time)</td>
        <td>Taught chemistry to PG students</td>
        <td>1 year</td>
      </tr>
      <tr>
        <td class="leftAlign">Vijayanagar College, Hospet</td>
        <td>Aug-04</td>
        <td>Mar-05</td>
        <td>Lecturer</td>
        <td>Taught chemistry to PUC students</td>
        <td>7 months</td>
      </tr>
    </tbody>
    
  </table>
  
</div>

<%- include("partials/footer"); -%>