<%- include("partials/header"); -%>

<div class="container" style="margin-top: 9rem;">
  <h2>Upload data</h2>
  <hr>
  <ul class="custom-list">
    <li><a href="/alumniform">Alumni</a></li>
    <li><a href="/articlesform">Articles (research and review)</a></li>
    <li><a href="/awardsform">Awards</a></li>
    <li><a href="/bookchaptersform">Book Chapters</a></li>
    <li><a href="/booksform">Books</a></li>
    <li><a href="/conferenceform">Conference</a></li>
    <li><a href="/grpmembform">Group Members</a></li>
    <li><a href="/invtalksform">Invited Talks</a></li>
    <li><a href="/membershipform">Membership</a></li>
    <li><a href="/patentsform">Patents</a></li>
    <li><a href="/researchprojectsform">Research Projects</a></li>
  </ul>

</div>

<%- include("partials/footer"); -%>