<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Group members</h1>
  <hr class="divider">

  <!-- <table class="table">
    <thead>
      <tr>
        <th class="tablehead thisColor"><strong>Name of the student</strong></th>
        <th class="tablehead thisColor"><strong>Title</strong></th>
        <th class="tablehead thisColor"><strong>Registration year</strong></th>
        <th class="tablehead thisColor"><strong>University</strong></th>
        <th class="tablehead thisColor"><strong>Status</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="leftAlign">Nandeesha IM 1MS17PGA07</td>
        <td>Development of novel analytical methods for the assay of selected drugs</td>
        <td>2016-17</td>
        <td>Visvesvaraya Technological University, Belagavi</td>
        <td>Thesis submitted</td>
      </tr>
      <tr>
        <td class="leftAlign">Chaithanya kumar L. T.</td>
        <td>PROteolysis TArgeting Chimeras (PROTACs): Design, synthesis, characterization, and evaluation of anticancer activity</td>
        <td>2021-22</td>
        <td>Davangere university</td>
        <td>Ongoing</td>
      </tr>
    </tbody>
  </table> -->

  <table class="table">
    <thead>
      <tr>
        <th class="tablehead thisColor"><strong>Name</strong></th>
        <th class="tablehead thisColor"><strong>Course</strong></th>
        <th class="tablehead thisColor"><strong>Topic</strong></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Chaithanya kumar L. T.</td>
          <td>Ph.D</td>
          <td>PROteolysis TArgeting Chimeras (PROTACs): Design, synthesis, characterization, and evaluation of anticancer activity</td>
          <td><img src="images/chaitanya.jpeg" alt="" width="200"></td>
      </tr>
    </tbody>
  </table>

</div>

<%- include("partials/footer"); -%>