<%- include("partials/header"); -%>

<main class="container mainPadding">
    <script async src="https://cse.google.com/cse.js?cx=11bc6d59f2e2546a1">
    </script>
  <div class="gcse-search"></div>



    <div class="p-4 p-md-5 mb-4 rounded text-bg myColor prevent-select flexflexdisp">
      


      



      <div class="col-md-8 px-0">
        <form action="/contact" method="get">
            <button class="myButton profileImage" type="submit">
              Contact me
            </button>
        </form>
        <h1 class="display-6 text-white fst-italic leftAlign"><u>Dr. Manjunatha D H</u></h1>
        <h5 class="text-white fst-italic">Ph.D</h5>
        <p class="lead my-3 text-white">Teaching and research in Chemistry is my prime foci, but also expect to contribute to the
          academic community at large specifically at the University, by advising the students, helping
          them with course curriculum design and publishing my research findings in reputed peer reviewed journals, attending/presenting at conferences within my research field. </p>
          <form action="/about" method="get">
            <button type="submit" class="hrefTag myMoreButton fw-bold">
              More...
            </button>
          </form>
      </div>




      <div class="image-container">
        <img id="profileImage" src="data:image/png;base64,<%=data.imaghere%>" alt="profile picture" width="300">
      </div>

   
      <script>
        <% if (data.shape === "circle") { %>
          document.getElementById('profileImage').style.borderRadius = '50%';
        <% } else { %>
          document.getElementById('profileImage').style.borderRadius = '0%';
        <% } %>
      </script>
      




    </div>
  
    <div class="row gx-5 myFont1`">
      <div class="col-md-8">
        <div class="bg-light">
          <h3 class="p-4 pb-2 mb-4 fst-italic" id="publications">
            Publications <span class="spanClass">(by year)</span>
          </h3>
          <div class="flexlist1">
            <ul class="pb-4 flexlist2">
              <li class="float-start">
                <h5>
                    <a href="/y2023">
                    <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2023</button>
                    </a>
                </h5>
              </li>
              <li class="float-start">
                <h5>
                    <a href="/y2022">
                    <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2022</button>
                    </a>
                </h5>
              </li>
              <li class="float-start">
                <h5>
                    <a href="/y2019">
                    <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2019</button>
                    </a>
                </h5>
              </li>
              <li class="float-start">
                <h5>
                    <a href="/y2015">
                    <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2015</button>
                    </a>
                </h5>
              </li>
              <li class="float-start">
                <h5>
                    <a href="/y2014">
                    <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2014</button>
                    </a>
                </h5>
              </li>
            </ul>
              <ul class="pb-4 flexlist2">
                <li class="float-start">
                  <h5>
                      <a href="/y2013">
                      <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2013</button>
                      </a>
                  </h5>
                </li>
                <li class="float-start">
                  <h5>
                      <a href="/y2009">
                      <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2009</button>
                      </a>
                  </h5>
                </li>
                <li class="float-start">
                  <h5>
                      <a href="/y2008">
                      <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2008</button>
                      </a>
                  </h5>
                </li>
                <li class="float-start">
                  <h5>
                      <a href="/y2007">
                      <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2007</button>
                      </a>
                  </h5>
                </li>
                <li class="float-start">
                  <h5>
                      <a href="/y2006">
                      <button class="p-0 hrefTag1 border-0 publications bg-light font-mono" type="submit">2006</button>
                      </a>
                  </h5>
                </li>
          </ul>
        </div>
        </div>

        <div class="p-4 mb-3 bg-light rounded">
          <h2 class="fst-italic pb-4 mb-4" id="additionalaffiliations">Previous Affiliations</h2>
          <div class="row mb-2 myFont1">

            <div class="col-md-12">
              <div class="row g-0 border rounded  project overflow-hidden flex-md-row mb-4  shadow-lg  position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 thisColor1">August 2016 - August 2019</strong>
                  <h3 class="mb-0 myFont1"><a href="https://www.msrit.edu/" class="hrefTag3">Ramaiah Institute of Technology</a></h3>
                  <div class="mb-1 text-muted">Department of chemistry</div>
                  <div class="mb-1 text-muted">Position</div>
                  <p class="card-text mb-auto">Assistant Professor</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img myPaddR" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="images/msrit.png" height="200" width="200"/></svg>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row g-0 border rounded  project overflow-hidden flex-md-row mb-4  shadow-lg  position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 thisColor1">July 2015 - August 2016</strong>
                  <h3 class="mb-0 myFont1"><a href="https://www.mvjce.edu.in/" class="hrefTag3">MVJ College of Engineering</a></h3>
                  <div class="mb-1 text-muted">Department of chemistry</div>
                  <div class="mb-1 text-muted">Position</div>
                  <p class="card-text mb-auto">Assistant Professor</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img myPaddR" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="images/mvj.png" height="200" width="200"/></svg>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row g-0 border rounded  project overflow-hidden flex-md-row mb-4  shadow-lg  position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 thisColor1">July 2014 - July 2015</strong>
                  <h3 class="mb-0 myFont1"><a href="http://mmec.edu.in/" class="hrefTag3">The Maratha Mandal</a></h3>
                  <div class="mb-1 text-muted">Department of chemistry</div>
                  <div class="mb-1 text-muted">Position</div>
                  <p class="card-text mb-auto">Assistant Professor</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img myPaddR pt-3" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="images/maratha.jpg" height="200" width="200"/></svg>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row g-0 border rounded  project overflow-hidden flex-md-row mb-4  shadow-lg  position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 thisColor1">June 2013 - May 2014</strong>
                  <h3 class="mb-0 myFont1"><a href="https://www.utm.my/" class="hrefTag3">Universiti Teknologi Malaysia</a> </h3>
                  <div class="mb-1 text-muted">Institute of Bioproduct Development (IBD) • Malaysia</div>
                  <div class="mb-1 text-muted">Position</div>
                  <p class="card-text mb-auto">Postdoc Position</p>
                  <div class="mb-1 text-muted">Description</div>
                  <p class="card-text mb-auto">Profiling of plant metabolites by UPLC, LCMS, HPLC.</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img myPaddR" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="images/universityMalaysia.png" height="200" width="200"/></svg>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row g-0 project border rounded overflow-hidden flex-md-row mb-4  shadow-lg  position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 thisColor1">April 2012 - February 2013</strong>
                  <h3 class="mb-0 myFont1"><a href="https://www.postech.ac.kr/" class="hrefTag3">Pohang University of Science and Technology</a></h3>
                  <div class="mb-1 text-muted">Department of Chemistry</div>
                  <div class=" text-muted">Position</div>
                  <p class="card-text mb-auto">Postdoc Position</p>
                  <div class=" text-muted">Description</div>
                  <p class="card-text mb-auto">Development of new biosensors for the biomarkers.</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img myPaddT" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="images/pohangUniversity1.png" height="180" width="180"/></svg>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row g-0 border rounded  project overflow-hidden flex-md-row mb-4  shadow-lg  position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 thisColor1">September 2008 - November 2011</strong>
                  <h3 class="mb-0 myFont1"><a href="https://www.apotex.com/in/en" class="hrefTag3">Apotex Pharmachem India Pvt Ltd</a></h3>
                  <div class="mb-1 text-muted">Position</div>
                  <p class="card-text mb-auto">Research Associate</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img myPaddR pt-3" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="images/apotex.png" height="200" width="200"/></svg>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row g-0 project border rounded overflow-hidden flex-md-row mb-4  shadow-lg  position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 thisColor1">March 2005 - December 2012</strong>
                  <h3 class="mb-0 leftAlign myFont1"><a href="https://www.kud.ac.in/" class="hrefTag3">Karnatak University, Dharwad</a></h3>
                  <div class="mb-1 text-muted">Department of Chemistry • India</div>
                  <div class=" text-muted">Description</div>
                  <p class="card-text mb-auto">Development of analytical methods for the assay of drugs and investigations on the interactions of some bio-active compounds.</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img myPaddT" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><image href="images/karnatakUniversity.jpg" height="150" width="150"/></svg>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        
  
      </div>
  
      <div class="col-md-4">
        <div class="position-sticky myFont1" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic" id="about">About</h4>
            <p class="mb-0 myFont1">Obtained M.Sc. in Chemistry from Gulbarga Universitiy, Gulbarga 2004 with 2 nd Rang and
              completed PhD in 2008, at Karnatak University, Dharwad, India, in the field of Analytical Chemistry. Later joined Apotex Pharmachem India Pvt Ltd., Bangalore, a pharma company and worked in A R&amp;D section for 3 years. Later went to South Korea in 2012 for Postdoc studies at POSTECH, for one year. Completed another Postdoc at Institute of Bio-product Development(IBD), University Teknologi Malaysia (UTM), Malaysia. After the completion of two Postdocs,
              worked as Assistant Professor in Chemistry, MS Ramaiah Institute of Technology, Bangalore. Currently working as Assistant Professor in the Department of Studies in Chemistry, Davangere University, Davangere, Karnataka, INDIA.</p>
          </div>
  
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic" id="skillsandexpertise">Skills and Expertise</h4>
            <ul class="list-group-flush mb-0 leftAlign">
              <li><a class="hrefTag1" href="https://en.wikipedia.org/wiki/Docking_(molecular)">Molecular Docking Studies</a></li>
              <li><a class="hrefTag1" href="https://en.wikipedia.org/wiki/Molecular_dynamics">Molecular Dynamics Solutions</a></li>
              <li><a class="hrefTag1" href="https://en.wikipedia.org/wiki/Density_functional_theory">DFT Calculations</a></li>
              <li><a class="hrefTag1" href="https://en.wikipedia.org/wiki/Protein%E2%80%93ligand_complex">Ligand-protein interactins (in vitro and in-silico)</a></li>
              <li><a class="hrefTag1" href="https://en.wikipedia.org/wiki/Assay">Analytical method development for the assay of drugs</a></li>
              <li><a class="hrefTag1" href="https://en.wikipedia.org/wiki/Chromatography">Chromatography</a></li>
            </ul>
          </div>

          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic" id="researcharea">Research Area</h4>
            <ul class="list-group-flush mb-0 leftAlign">
              <li><a class="hrefTag1" href="">Studies on the interactions between biologically active molecules with carrier proteins</a></li>
              <li><a class="hrefTag1" href="">In-silico studies of ligand-protein interactions</a></li>
              <li><a class="hrefTag1" href="">In-vitro and in-silico studies of nanomaterials/particles with proteins</a></li>
              <li><a class="hrefTag1" href="">Nano-biotechnology</a></li>
              <li><a class="hrefTag1" href="">Density Functional Theory (DFT) calculations</a></li>
              <li><a class="hrefTag1" href="">Synthesis of biologically active molecules</a></li>
              <li><a class="hrefTag1" href="">Development of analytical methods for the assay of drugs in pure, pharmaceutical and
                biological samples</a></li>
            </ul>
          </div>
  
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic" id="connect">Connect</h4>
            <ol class="list-unstyled mb-0">
              <li><a class="hrefTag1" href="https://www.researchgate.net/profile/D-H-Manjunatha">Research Gate</a></li>
              <li><a class="hrefTag1" href="https://scholar.google.com/citations?user=Gqqi01UAAAAJ&hl=en">Google Scholar</a></li>
              <li><a class="hrefTag1" href="http://davangereuniversity.ac.in/wp-content/uploads/2020/03/Faculty-Profile-manjuantha.pdf">Davangere University</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    
  </div>

  <div class="p-4 my-3 rounded">
    
    <h2 class="fst-italic pb-2" id="education">Gallery</h2>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-0983e0de-e070-4af5-b03f-2f830019d670"></div>

  </div>
  
  </main>

  <%- include("partials/footer"); -%>