<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Membership of professional organizations/bodies</h1>
  <hr class="divider">

  <table class="table">
    <thead>
      <tr>
        <th class="tablehead thisColor"><strong>Sl.No</strong></th>
        <th class="tablehead thisColor"><strong>Professional organization</strong></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Life member of The Indian Science Congress Association [L32157]</td>
        </tr>
    </tbody>
  </table>

</div>

<%- include("partials/footer"); -%>