<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>Research articles</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Synthesis of Ag nanoparticles capped by thiol molecules.</h5>
            <strong class="d-inline-block mb-2 thisColor1">Materials Today: Proceedings. (ISSN: 2214-7853)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2022 (Available online)</strong>
          <div class="mb-1 text-muted">Maheshkumar, V.S. Patil, H.J. Amith Yadav, D.H. Manjunath, S.V. Halse, M.N. Kalasad. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://doi.org/10.1016/j.matpr.2022.06.289">https://doi.org/10.1016/j.matpr.2022.06.289</a></u>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Simple and Sensitive RP-HPLC and UV Spectroscopic Methods for the Determination of Remogliflozin Etabonate in Pure <br> and Pharmaceutical Formulations.</h5>
            <strong class="d-inline-block mb-2 thisColor1">Turkish Journal of Pharmaceutical Sciences (ISSN: 1304-530X)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2022, 19(2), 213-219</strong>
          <div class="mb-1 text-muted">Nandeesha ITIGIMATHA, Kailash S. CHADCHAN, Basappa C. YALLUR, Manjunatha D. H</div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.turkjps.org/search-result?search=Remogliflozin%20etabonate">10.4274/tjps.galenos.2021.55381</a></u>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">New analytical methods for the determination of new anti-viral drug, favipiravir: A potential therapeutic drug against COVID-19 virus, in bulk and dosage forms.</h5>
            <strong class="d-inline-block mb-2 thisColor1">Pharmaceutical Chemistry Journal (Springer) (ISSN: 1573-9031; 0091-150X) 2023, 56(10), 1419-1425</strong>
          <div class="mb-1 text-muted">Nandeesha Itigimatha, Kailash S. Chadchan, Basappa C. Yallur, Manjunatha D. Hadagali. </div>
          <div class="mb-1 text-dark">
            DOI: 10.1007/s11094-023-02807-2 
          </div>
          <div class="mb-1 text-dark">
            IF: 0.837
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Preparation of colloidal Ag nanoparticles. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Materials Today: Proceedings. (ISSN: 2214-7853)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2022, 60(2) 1156-1159</strong>
          <div class="mb-1 text-muted">Santosh R. Mannopantar, H.H. Bendigeri, V.K. Kulkarni, V.S. Patil, D.H. Manjunatha, M.N. Kalasad.</div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href=" https://doi.org/10.1016/j.matpr.2022.03.152"> https://doi.org/10.1016/j.matpr.2022.03.152</a></u>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Monitoring the interactions between bovine serum albumin and ZnO/Ag nanoparticles by spectroscopic techniques.</h5>
            <strong class="d-inline-block mb-2 thisColor1">Journal of Biomolecular Structure and Dynamics (ISSN: 0739-1102 ; 1538-0254) <br> 2023, 41(1), 352-365</strong>
            <strong class="d-inline-block mb-2 thisColor1">2021</strong>
          <div class="mb-1 text-muted">Abhishek Udnoor, Manjunath Lokolkar, Basappa C. Yallur,Raju Kale, Muttanagoud N. Kalasad, Umesha Katrahalli & D. H. Manjunatha. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://pubmed.ncbi.nlm.nih.gov/34821210/">10.1080/07391102.2021.2006788</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 4.15
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Design, Synthesis, Anticancer Evaluation, and Molecular Docking Studies of Novel Benzoxazole Linked 1,3,4-Oxadiazoles.</h5>
            <strong class="d-inline-block mb-2 thisColor1">Anti-Cancer Agents in Medicinal Chemistry (ISSN: 1875-5992 ; 1871-5206)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2022, 22(5) 933-942</strong>
          <div class="mb-1 text-muted">Sushmitha Bujji, Praveen Kumar E, Sree Kanth Sivan, Manjunatha D. H. and Subhashini N.J.P. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://pubmed.ncbi.nlm.nih.gov/34229589/">10.2174/1871520621666210706120203</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 2.668
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Extractive spectrophotometric method for the determination of Oseltamivir Phosphate, Acyclovir and Famciclovir in pure <br>and pharmaceutical formulations.</h5>
            <strong class="d-inline-block mb-2 thisColor1">Indian Drugs, (ISSN: 0019-462X) </strong>
            <strong class="d-inline-block mb-2 thisColor1">2021 (In Press-Accepted) </strong>
          <div class="mb-1 text-muted">Nandeesha Itigimatha, Basappa C. Yallur and Manjunatha D. H</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">BSA interaction and DNA cleavage studies of newly synthesized anti-bacterial Benzothiazol-2-yl-malonaldehyde. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Journal of Molecular Structure (ISSN: 00222860)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2019, 1196 (11), 96-104. </strong>
          <div class="mb-1 text-muted">Umesha Katrahalli, Basappa Channabasappa Yallur, Devagondanahalli Hadagali Manjunatha*, Panchangam Murali Krishna. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.sciencedirect.com/science/article/pii/S0022286019307860">10.1016/j.molstruc.2019.06.062 </a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 3.20
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">BSA binding and antimicrobial studies of newly synthesized 5, 6-Dihydroimidazo [2,1-b]thiazole-2-carbaldehyde. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Spectrochimica Acta Part A (ISSN: 1386-1425)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2019, 222 (11), 117192.</strong>
          <div class="mb-1 text-muted">Basappa Chanabasappa Yallur, Umesha Katrahalli, Panchangam Murali Krishna, Manjunatha Devagondanahalli Hadagali*.</div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.sciencedirect.com/science/article/pii/S1386142519305827">10.1016/j.saa.2019.117192</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 4.10
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">RP-HPLC-UV method development and validation for simultaneous determination of terbutaline sulphate, ambroxol HCl <br> and guaifenesin in pure and dosage forms. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Annales Pharmaceutiques Françaises (ISSN: 00034509)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2019, 77(4), 295-301</strong>
          <div class="mb-1 text-muted">Itagimatha Nandeesha, Manjunatha D. Hadagali*. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://doi.org/10.1016/j.pharma.2019.02.004">https://doi.org/10.1016/j.pharma.2019.02.004.</a></u>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Honeybee as a Biosensor: Detection of a Medicinal Plant Adrographis paniculata. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Research Journal of Chemistry and Environment (ISSN: 0972-0626)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2019, 23 (2), 19-22.</strong>
          <div class="mb-1 text-muted">Manjunatha Devagondanahalli Hadagali and Lee Suan Chua. </div>
          <div class="mb-1 text-dark">
            DOI: -
          </div>
          <div class="mb-1 text-dark">
            IF: 0.21
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Determination of rivaroxaban in pure, pharmaceutical formulations and human plasma samples by RP-HPLC.  </h5>
            <strong class="d-inline-block mb-2 thisColor1">International Journal of Advances in Pharmaceutical Analysis (ISSN: 2277-9353)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2015, 5 (3), 65-68.</strong>
          <div class="mb-1 text-muted">Manjunatha D. H.</div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Cationic surfactant-based colorimetric detection of plasmodium lactate dehydrogenase, a biomarker for malaria, using the specific DNA aptamer. </h5>
            <strong class="d-inline-block mb-2 thisColor1">PLoS ONE (ISSN: 1932-6203)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2014, 9(7): e100847. </strong>
          <div class="mb-1 text-muted">Lee S, Manjunatha D H, Jeon W, Ban C. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0100847">10.1371/journal.pone.0100847.</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 3.24
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">A colorimetric aptasensor for the diagnosis of malaria based on cationic polymers and gold nanoparticles. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Analytical Biochemistry (ISSN; 00032697)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2013, 439 (1), 11-16.</strong>
          <div class="mb-1 text-muted">W Jeon, S Lee, D H Manjunatha, C Ban. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.sciencedirect.com/science/article/pii/S0003269713001607">10.1016/j.ab.2013.03.032 </a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 3.37
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">New extractive spectrophotometric methods for the determination of nortriptyline hydrochloride in pure form and pharmaceutical dosages. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Journal of Analytical Chemistry (ISSN: 1061-9348)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2009, 64 (5), 462-466.</strong>
          <div class="mb-1 text-muted">D H Manjunatha, J Seetharamappa, PB Kandagal, SS Kalanur. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/227305454_New_extractive_spectrophotometric_methods_for_the_determination_of_nortriptyline_hydrochloride_in_pure_form_and_pharmaceutical_dosages">10.1134/S1061934809050062</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 0.840
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Diazocoupling reaction  for  the  spectrophotometric  determination  of  physiologically active catecholamines in bulk and pharmaceutical preparations. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Analytical Chemistry (ISSN: 1061-9348)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2008, 63 (7), 637-642.</strong>
          <div class="mb-1 text-muted">SMT Shaikh, D H Manjunatha, K Harikrishna, KC Ramesh, RS Kumar, J Seetharamappa.</div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/226416526_Diazocoupling_reaction_for_the_spectrophotometric_determination_of_physiologically_active_catecholamines_in_bulk_and_pharmaceutical_preparations">10.1134/S106193480807006X</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 0.840
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Mechanism of interaction between human serum albumin and N-alkyl  phenothiazines studied using spectroscopic <br> methods. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Journal of Pharmaceutical and Biomedical Analysis (ISSN: 0731-7085)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2008, 47 (2), 260-267.</strong>
          <div class="mb-1 text-muted">PB Kandagal, SS Kalanur, DH Manjunatha, J Seetharamappa</div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/5539574_Mechanism_of_interaction_between_human_serum_albumin_and_N-alkyl_phenothiazines_studied_using_spectroscopic_methods">10.1016/j.jpba.2008.01.027</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 3.209
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">RP-HPLC method for the determination of tenofovir in pharmaceutical formulations and spiked human plasma. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Analytical Letters (ISSN: 0003-2719)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2008, 41 (4), 561-570.</strong>
          <div class="mb-1 text-muted">PB Kandagal, D H Manjunatha, J Seetharamappa, SS Kalanur. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/244601749_RP-HPLC_Method_for_the_Determination_of_Tenofovir_in_Pharmaceutical_Formulations_and_Spiked_Human_Plasma">10.1080/00032710801910742</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 1.467
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Simple and sensitive spectrophotometric methods for the determination of acebutolol hydrochloride in bulk sample and pharmaceutical preparations. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Eclética  Química (ISSN: 1678-4618)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2008, 33 (2), 37-40.</strong>
          <div class="mb-1 text-muted">D H Manjunatha, SMT Shaikh, K Harikrishna, R Sudhirkumar, PB Kandagal, J. Seetharamappa. </div>
          <div class="mb-1 text-dark">
            IF: 0.06
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Electrochemical behavior of an anti-cancer drug at glassy carbon electrode and its determination in pharmaceutical formulations. </h5>
            <strong class="d-inline-block mb-2 thisColor1">International Journal of Electrochemical Science (ISSN: 1452-3981)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2008, 3, 756 – 767.</strong>
          <div class="mb-1 text-muted">Shankara S. Kalanur, Jaldappagari Seetharamappa, Gangeenahalli P. Mamatha, Manjunatha D. Hadagali, Pradeep B. Kandagal. </div>
          <div class="mb-1 text-dark">
            DOI: -
          </div>
          <div class="mb-1 text-dark">
            IF: 1.573
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Spectroscopic investigations on the mechanism of interaction of bioactive dye with bovine serum albumin.  </h5>
            <strong class="d-inline-block mb-2 thisColor1">Dyes and Pigments (ISSN: 0143-7208)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2007, 74 (3), 665-671.</strong>
          <div class="mb-1 text-muted">SMT Shaikh, J Seetharamappa,	PB Kandagal, D H Manjunatha, S Ashoka. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/229117666_Spectroscopic_investigations_on_the_mechanism_of_interaction_of_bioactive_dye_with_bovine_serum_albumin">10.1016/j.dyepig.2006.04.010</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 4.613
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">High‐performance liquid chromatographic determination of parecoxib in  human  plasma and pharmaceutical formulations. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Analytical Letters (ISSN: 0003-2719)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2007, 40 (15), 2925-2934.</strong>
          <div class="mb-1 text-muted">SMT Shaikh, DH Manjunatha, J Seetharamappa, PB Kandagal. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/233665004_High-Performance_Liquid_Chromatographic_Determination_of_Parecoxib_in_Human_Plasma_and_Pharmaceutical_Formulations">10.1080/00032710701606267</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 1.467
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Spectroscopic studies on the binding of bioactive phenothiazine compounds to human serum albumin.</h5>
            <strong class="d-inline-block mb-2 thisColor1">Journal of Photochemistry and Photobiology A: Chemistry (ISSN: 10106030)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2007, 189 (1), 121-127.</strong>
          <div class="mb-1 text-muted">PB Kandagal,	SMT	Shaikh,	D H    Manjunatha, J Seetharamappa, BS Nagaralli. 
            </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/223908580_Spectroscopic_studies_on_the_binding_of_bioactive_phenothiazine_compounds_to_human_serum_albumin">10.1016/j.jphotochem.2007.01.021</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 3.306
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">In vitro study on the binding of anti-coagulant vitamin to bovine serum albumin and the influence of toxic ions and <br> common ions on binding. </h5>
            <strong class="d-inline-block mb-2 thisColor1">International Journal of Biological Macromolecules (ISSN: 01418130)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2007, 41 (1), 81-86.</strong>
          <div class="mb-1 text-muted">SMT Shaikh, J Seetharamappa, PB Kandagal, DH Manjunatha. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://pubmed.ncbi.nlm.nih.gov/17303235/">10.1016/j.ijbiomac.2007.01.004</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 5.162
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Determination	of	cinnarizine	in	pure	and	pharmaceutical	formulations.	</h5>
            <strong class="d-inline-block mb-2 thisColor1">Journal of the Chinese Chemical Society (ISSN: 2192-6549)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2007, 54 (1), 63-68.</strong>
          <div class="mb-1 text-muted">Manjunatha D H, SMT Shaikh, S Jaldappagari, SK Ramanaboyina,	H Kasalanti.</div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/251570796_Determination_of_Cinnarizine_in_Pure_and_Pharmaceutical_Formulations">10.1002/jccs.200700011</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 1.554
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Binding  of  trazodone  hydrochloride  with  human  serum  albumin:   A spectroscopic study. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Journal of Photochemistry and Photobiology A: Chemistry (ISSN: 1010-6030)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2007, 185 (2), 239-244.</strong>
          <div class="mb-1 text-muted">PB Kandagal, J Seetharamappa, SMT Shaikh, DH Manjunatha. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/239707047_Binding_of_trazodone_hydrochloride_with_human_serum_albumin_A_spectroscopic_study">10.1016/j.jphotochem.2006.06.015</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 3.306
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Determination  of  nortriptyline hydrochloride in bulk and pharmaceutical formulations. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Chemia analityczna (ISSN: 0009-2223)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2007, 52 (2), 337-346.</strong>
          <div class="mb-1 text-muted">R Sudhir Kumar, DH Manjunatha, J Seetharamappa, K Harikrishna, SMT Shaikh. </div>
          <div class="mb-1 text-dark">
            DOI: - <br>(Now merged with Analytical and Bioanalytical Chemistry – ISSN: 16182642) 
          </div>
          <div class="mb-1 text-dark">
            IF: 3.367
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Study of the interaction between doxepin hydrochloride and bovine serum albumin	by spectroscopic techniques. </h5>
            <strong class="d-inline-block mb-2 thisColor1">International Journal of Biological Macromolecules (ISSN: 01418130)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2006, 39 (4), 234-239.</strong>
          <div class="mb-1 text-muted">PB Kandagal, J Seetharamappa, S Ashoka, SMT Shaikh, D H Manjunatha. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/7103289_Study_of_the_interaction_between_doxepin_hydrochloride_and_bovine_serum_albumin_by_spectroscopic_techniques">10.1016/j.ijbiomac.2006.03.027</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 5.162
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Sensitive extraction spectrophotometric methods for the determination of trazodone hydrochloride in pure and <br> pharmaceutical formulations. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Journal of the Serbian Chemical Society (ISSN: 0352-5139) </strong>
            <strong class="d-inline-block mb-2 thisColor1">2006, 71 (7), 829- 837.</strong>
          <div class="mb-1 text-muted">K Harikrishna, SR Kumar, J Seetharamappa, DH Manjunatha. </div>
          <div class="mb-1 text-dark">
            DOI: <u><a class="hrefTag1 " href="https://www.researchgate.net/publication/26446333_Sensitive_extraction_spectrophotometric_methods_for_the_determination_of_trazodone_hydrochloride_in_pure_and_pharmaceutical_formulations">10.2298/JSC0607829H</a></u>
          </div>
          <div class="mb-1 text-dark">
            IF: 1.097
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Sensitive extractive spectrophotometric methods for the determination of trazodone hydrochloride in pharmaceutical formulations. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Chemical and Pharmaceutical Bulletin (ISSN: 0009-2363)</strong>
            <strong class="d-inline-block mb-2 thisColor1">2006, 54 (7), 968-971.</strong>
          <div class="mb-1 text-muted">R Sudhir Kumar, DH Manjunatha, SMT Shaikh, J Seetharamappa, K Harikrishna. </div>
          <div class="mb-1 text-dark">
            DOI: -
          </div>
          <div class="mb-1 text-dark">
            IF: 1.405
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Molecular spectroscopic and docking analysis of the interaction of fluorescent thiadicarbocyanine dye with biomolecule bovine serum albumin.</h5>
            <strong class="d-inline-block mb-2 thisColor1">Journal of Biomolecular Structure and Dynamics (ISSN: 0739-1102 ; 1538-0254) 2022</strong>
            <strong class="d-inline-block mb-2 thisColor1">2006, 54 (7), 968-971.</strong>
          <div class="mb-1 text-muted">Umesha Katrahalli, Govindaswamy Shanker, Debnath Pal, Manjunatha Devagondanahalli Hadagali</div>
          <div class="mb-1 text-dark">
            DOI: 10.1080/07391102.2022.2158135 
          </div>
          <div class="mb-1 text-dark">
            IF: 4.15
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
            <h5 class="mb-0 thisColor myFont1">Liquid Chromatographic Method Development and Validation for the Simultaneous Determination of Phenylephrine Hydrochloride, Paracetamol, Caffeine and Diphenhydramine Hydrochloride in Pure and Formulations. </h5>
            <strong class="d-inline-block mb-2 thisColor1">Research J. Pharm. and Tech (ISSN: 0974-3618 ; 0974-360X) 2022; 15(9):3993-3998. </strong>
            <strong class="d-inline-block mb-2 thisColor1">2006, 54 (7), 968-971.</strong>
          <div class="mb-1 text-muted">Nandeesha IM, Basappa C. Yallur, Manjunatha D Hadagali</div>
          <div class="mb-1 text-dark">
            DOI: 10.52711/0974-360X.2022.00669 
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>