<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2008</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">July 2008</strong>
          <h5 class="mb-0 thisColor">Diazocoupling reaction for the spectrophotometric determination of physiologically active catecholamines in bulk and pharmaceutical preparations</h5>
          <br>
          <div class="mb-1 text-muted">SMT Shaikh, DH Manjunatha, K Harikrishna, KC Ramesh, RS Kumar, J Seetharamappa.</div>
          <div class="mb-1 text-dark">
            Journal of Analytical Chemistry (ISSN: 1061-9348) <br>
            2008, 63 (7), 637-642. <br>
            <div class="mb-1 text-dark">
              DOI: <u><a class="hrefTag1 " href="https://rdcu.be/cVtmM">https://rdcu.be/cVtmM</a></u>
            </div>
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/226416526_Diazocoupling_reaction_for_the_spectrophotometric_determination_of_physiologically_active_catecholamines_in_bulk_and_pharmaceutical_preparations">View more...</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">July 2008</strong>
          <h5 class="mb-0 thisColor">Mechanism of interaction between human serum albumin and N-alkyl phenothiazines studied using spectroscopic methods</h5>
          <br>
          <div class="mb-1 text-muted">PB Kandagal, SS Kalanur, DH Manjunatha, J Seetharamappa.</div>
          <div class="mb-1 text-dark">
            Journal of Pharmaceutical and Biomedical Analysis (ISSN: 0731-7085) <br>
            2008, 47 (2), 260-267. <br>
            DOI: 10.1016/j.jpba.2008.01.027
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/5539574_Mechanism_of_interaction_between_human_serum_albumin_and_N-alkyl_phenothiazines_studied_using_spectroscopic_methods">View more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">March 2008</strong>
          <h5 class="mb-0 thisColor">RP‐HPLC Method for the Determination of Tenofovir in Pharmaceutical Formulations and Spiked Human Plasma</h5>
          <br>
          <div class="mb-1 text-muted">PB Kandagal, DH Manjunatha, J Seetharamappa, SS Kalanur.</div>
          <div class="mb-1 text-dark">
            Analytical Letters (ISSN: 0003-2719) <br>
            2008, 41 (4), 561-570. <br>
            DOI: 10.1080/00032710801910742
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/244601749_RP-HPLC_Method_for_the_Determination_of_Tenofovir_in_Pharmaceutical_Formulations_and_Spiked_Human_Plasma">View more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">January 2008</strong>
          <h5 class="mb-0 thisColor">Simple and sensitive spectrophotometric methods for the determination of acebutolol hydrochloride in bulk sample and pharmaceutical preparations</h5>
          <br>
          <div class="mb-1 text-muted">DH Manjunatha, SMT Shaikh, K Harikrishna, R Sudhirkumar, PB Kandagal, J. Seetharamappa.</div>
          <div class="mb-1 text-dark">
            Eclética Química (ISSN: 1678-4618) <br>
            2008, 33 (2), 37-40. <br>
            DOI: 10.26850/1678-4618eqj.v33.2.2008.p37-40
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/49943487_Simple_and_sensitive_spectrophotometric_methods_for_the_determination_of_acebutolol_hydrochloride_in_bulk_sample_and_pharmaceutical_preparations">View more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">July 2008</strong>
          <h5 class="mb-0 thisColor">Electrochemical Behavior of an Anti-Cancer Drug at Glassy Carbon Electrode and its Determination in Pharmaceutical Formulations</h5>
          <br>
          <div class="mb-1 text-muted">Shankara S. Kalanur, Jaldappagari Seetharamappa, Gangeenahalli P. Mamatha, Manjunatha D. Hadagali, Pradeep B. Kandagal.</div>
          <div class="mb-1 text-dark">
            International Journal of Electrochemical Science (ISSN: 1452-3981) <br>
            2008, 3, 756 – 767. <br>
            <div class="mb-1 text-dark">
              DOI: <u><a class="hrefTag1 " href="http://www.electrochemsci.org/papers/vol3/3070756.pdf">http://www.electrochemsci.org/papers/vol3/3070756.pdf</a></u>
            </div>
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/255574712_Electrochemical_Behavior_of_an_Anti-Cancer_Drug_at_Glassy_Carbon_Electrode_and_its_Determination_in_Pharmaceutical_Formulations">View more...</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include("partials/footer"); -%>