<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2006</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">December 2006</strong>
          <h5 class="mb-0 thisColor">Study of the interaction between doxepin hydrochloride and bovine serum albumin by spectroscopic techniques.</h5>
          <br>
          <div class="mb-1 text-muted">PB Kandagal, J Seetharamappa, S Ashoka, SMT Shaikh, DH Manjunatha</div>
          <div class="mb-1 text-dark">
            International Journal of Biological Macromolecules (ISSN: 01418130)<br>
            2006, 39 (4), 234-239.<br>
            DOI: 10.1016/j.ijbiomac.2006.03.027
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/7103289_Study_of_the_interaction_between_doxepin_hydrochloride_and_bovine_serum_albumin_by_spectroscopic_techniques">View more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">July 2006</strong>
          <h5 class="mb-0 thisColor">Sensitive Extractive Spectrophotometric Methods for the Determination of Trazodone Hydrochloride in Pharmaceutical Formulations</h5>
          <br>
          <div class="mb-1 text-muted">K Harikrishna, SR Kumar, J Seetharamappa, DH Manjunatha.</div>
          <div class="mb-1 text-dark">
            Journal of the Serbian Chemical Society (ISSN: 0352-5139)<br>
            2006, 71 (7), 829- 837.<br>
            DOI: 10.2298/JSC0607829H
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/251570972_Sensitive_Extractive_Spectrophotometric_Methods_for_the_Determination_of_Trazodone_Hydrochloride_in_Pharmaceutical_Formulations">View more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">July 2006</strong>
          <h5 class="mb-0 thisColor">Sensitive extraction spectrophotometric methods for the determination of trazodone hydrochloride in pure and pharmaceutical formulations</h5>
          <br>
          <div class="mb-1 text-muted">R Sudhir Kumar, DH Manjunatha, SMT Shaikh, J Seetharamappa, K Harikrishna.</div>
          <div class="mb-1 text-dark">
            Chemical and Pharmaceutical Bulletin (ISSN: 0009-2363)<br>
            2006, 54 (7), 968-971.<br>
            DOI:  https://doi.org/10.1248/cpb.54.968
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/26446333_Sensitive_extraction_spectrophotometric_methods_for_the_determination_of_trazodone_hydrochloride_in_pure_and_pharmaceutical_formulations">View more...</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include("partials/footer"); -%>