<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2009</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">May 2009</strong>
          <h5 class="mb-0 thisColor">New extractive spectrophotometric methods for the determination of nortriptyline hydrochloride in pure form and pharmaceutical dosages. </h5>
          <br>
          <div class="mb-1 text-muted">DH Manjunatha, J Seetharamappa, PB Kandagal, SS Kalanur</div>
          <div class="mb-1 text-dark">
            Journal of Analytical Chemistry (ISSN: 1061-9348) <br>
            2009, 64 (5), 462-466.
            <div class="mb-1 text-dark">
              DOI: <u><a class="hrefTag1 " href="https://rdcu.be/cVtnx">10.1134/S1061934809050062</a></u>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include("partials/footer"); -%>