<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2009</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">May 2009</strong>
          <h5 class="mb-0 thisColor">New extractive spectrophotometric methods for the determination of nortriptyline hydrochloride in pure form and pharmaceutical dosages</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H • Seetharamappa Jaldappagari • P B Kandagal • Shankara Kalanur</div>
          <div class="mb-1 text-dark">
            Two simple, rapid and sensitive extractive spectrophotometric methods have been developed for the assay of nortriptyline hydrochloride (NTPH) in pure and pharmaceutical formulations. These methods are based on the formation of chloroform soluble ion-association complexes of NTPH with bromocresol green (BCG) and with methyl orange (MO) in KCl-HCl buffer of pH 2. The colored species exhibited absorption maxima at 416 and 422 nm for BCG and MO with molar absorptivity values of 2.88 × 104 and 2.29 × 104 L/mol cm, respectively. Reaction conditions were optimized to obtain the maximum color intensity. Various analytical parameters have been evaluated and the results have been validated by statistical data. The methods were successfully applied to the analysis of NTPH in pharmaceutical formulations.
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/227305454_New_extractive_spectrophotometric_methods_for_the_determination_of_nortriptyline_hydrochloride_in_pure_form_and_pharmaceutical_dosages">View more...</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include("partials/footer"); -%>