<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2017</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">September 2017</strong>
          <h5 class="mb-0 thisColor">Advancement of sensitive sniffer bee technology</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H, Lee Suan Chua</div>
          <div class="mb-1 text-dark">
            Trends in Analytical Chemistry (ISSN: 01659936) <br>
            2017, 97, 153-158. <br>
            DOI: 10.1016/j.trac.2017.09.006 
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/319857731_Advancement_of_sensitive_sniffer_bee_technology">View more...</a>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>