<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2019</h1>
  <hr class="divider">
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">June 2019</strong>
          <h5 class="mb-0 thisColor myFont1">BSA interaction and DNA cleavage studies of anti-bacterial benzothiazol-2-yl-malonaldehyde</h5>
          <br>
          <div class="mb-1 text-muted">Umesha Katrahalli, Basappa Channabasappa Yallur, Devagondanahalli Hadagali Manjunatha*, Panchangam Murali Krishna.</div>
          <div class="mb-1 text-dark">
            Journal of Molecular Structure (ISSN: 00222860) <br>
            2019, 1196 (11), 96-104. <br>
            DOI: 10.1016/j.molstruc.2019.06.062 
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/333874769_BSA_interaction_and_DNA_cleavage_studies_of_anti-bacterial_benzothiazol-2-yl-malonaldehyde">View more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 thisColor1">May 2019</strong> -->
          <h5 class="mb-0 thisColor myFont1">BSA binding and antimicrobial studies of newly synthesized 5, 6-Dihydroimidazo [2,1-b]thiazole-2-carbaldehyde. </h5>
          <br>
          <div class="mb-1 text-muted">Basappa Chanabasappa Yallur, Umesha Katrahalli, Panchangam Murali Krishna, Manjunatha Devagondanahalli Hadagali*.</div>
          <div class="mb-1 text-dark">
            Spectrochimica Acta Part A (ISSN: 1386-1425) <br>
            2019, 222 (11), 117192. <br>
            DOI: 10.1016/j.saa.2019.117192
          </div>
          <!-- <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/332980489_February_2019_Res">View more...</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 thisColor1">May 2019</strong> -->
          <h5 class="mb-0 thisColor myFont1">RP-HPLC-UV method development and validation for simultaneous determination of terbutaline sulphate, ambroxol HCl and guaifenesin in pure and dosage forms. </h5>
          <br>
          <div class="mb-1 text-muted">Itagimatha Nandeesha, Manjunatha D. Hadagali*. </div>
          <div class="mb-1 text-dark">
            Annales Pharmaceutiques Françaises (ISSN: 00034509) <br>
            2019, 77(4), 295-301.  <br>
            DOI: 10.1016/j.pharma.2019.02.004 
          </div>
          <!-- <a class="p-0 hrefTag1" href="files/KSTA-PPTfortheConference-Feb2019.pptx" download><u>Download PPT</u></a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 thisColor1">May 2019</strong> -->
          <h5 class="mb-0 thisColor myFont1">Honeybee as a Biosensor: Detection of a Medicinal Plant Adrographis paniculata. </h5>
          <br>
          <div class="mb-1 text-muted">Manjunatha Devagondanahalli Hadagali and Lee Suan Chua. </div>
          <div class="mb-1 text-dark">
            Research Journal of Chemistry and Environment (ISSN: 0972-0626) <br>
            2019, 23 (2), 19-22.            
          </div>
          <!-- <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/333441532_BSA_binding_and_antibaterial_studies_of_newly_synthesized_56-Dihydroimidazo21-bthiazole-2-carbaldehyde">View more...</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">April 2019</strong>
          <h5 class="mb-0 thisColor">Cationic surfactant-based colorimetric detection of plasmodium lactate dehydrogenase, a biomarker for malaria, using the specific DNA aptamer. </h5>
          <br>
          <div class="mb-1 text-muted">Lee S, Manjunatha DH, Jeon W, Ban C. </div>
          <div class="mb-1 text-dark">
            PLoS ONE (ISSN: 1932-6203) <br>
            2014, 9(7): e100847. <br>
            DOI: 10.1371/journal.pone.0100847 
          </div>
          <!-- <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/332600208_RP-HPLC-UV_method_development_and_validation_for_simultaneous_determination_of_terbutaline_sulphate_ambroxol_HCl_and_guaifenesin_in_pure_and_dosage_forms">View more...</a> -->
        </div>
      </div>
    </div>
  </div>

  
</div>

<%- include("partials/footer"); -%>