<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2017</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">September 2017</strong>
          <h5 class="mb-0 thisColor">Advancement of sensitive sniffer bee technology</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H • Lee Suan Chua</div>
          <div class="mb-1 text-dark">
            Humans are being substantially benefitting from the use of honeybees. Honeybees are natural foragers; they travel long distances in search for water, nectar, propolis and pollen. Researchers aim to use these factors for the welfare of mankind, taking advantage of the behavioral characteristics of honeybees to use them as a basis for developing natural biosensors. Through the use of a honeybee sensor system, one can train thousands of bees to seek many kind of odor. This finally results in a very simple to use but powerful real biosensor, potentially much more efficient than any electronic sensor. This review briefly outlines the sniffer technology of honeybees for deploying them as highly sensitive, accurate and cost effective biosensors. This sniffer bee technology can be employed in various fields, such as theatres of war, identification of explosives, various chemicals, flowers/plants, food contamination, biomarkers in medicinal field, etc.
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/319857731_Advancement_of_sensitive_sniffer_bee_technology">View more...</a>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>