<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2018</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">February 2018</strong>
          <h5 class="mb-0 thisColor">Simple and sensitive spectrophotometric methods for the determination of acebutolol hydrochloride in bulk sample and pharmaceutical preparations</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H • S M T Shaikh • K. Harikrishna • [...] • Seetharamappa Jaldappagari </div>
          <div class="mb-1 text-dark">
            A direct, extraction-free spectrophotometric method has been developed for the determination of acebutolol hydrochloride (ABH) in pharmaceutical preparations. The method is based on ionpair complex formation between the drug and two acidic dyes (sulphonaphthalein) namely bromocresol green (BCG) and bromothymol blue (BTB). Conformity to Beer’s law enabled the assay of the drug in the range of 0.5-13.8 μg mL-1 with BCG and 1.8-15.9 μg mL-1 with BTB. Compared with a reference method, the results obtained were of equal accuracy and precision. In addition, these methods were also found to be specific for the analysis of acebutolol hydrochloride in the presence of excipients, which are co-formulated in the drug.
          </div>
          <div>
            <a href="https://www.researchgate.net/publication/322969309/figure/fig1/AS:591219285565442@1517969070777/Structure-of-Acebutolol-hydrochloride.png"><img src="https://www.researchgate.net/publication/322969309/figure/fig1/AS:591219285565442@1517969070777/Structure-of-Acebutolol-hydrochloride_Q640.jpg" alt="" width="200"></a>
            <a href="https://www.researchgate.net/publication/322969309/figure/fig2/AS:591219285569541@1517969070802/Absorption-spectrum-of-reagent-blanksBCG-a-and-BTB-b-and-ion-pair-complexes-of-ABH.png"><img class="mx-4 float-right" src="https://www.researchgate.net/publication/322969309/figure/fig2/AS:591219285569541@1517969070802/Absorption-spectrum-of-reagent-blanksBCG-a-and-BTB-b-and-ion-pair-complexes-of-ABH_Q640.jpg" alt="" width="200"></a>
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/322969309_Simple_and_sensitive_spectrophotometric_methods_for_the_determination_of_acebutolol_hydrochloride_in_bulk_sample_and_pharmaceutical_preparations">View more...</a>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>