<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2014</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">December 2014</strong>
          <h5 class="mb-0 thisColor">The anti-inflammatory and wound healing properties of honey</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H • Lee Suan Chua</div>
          <div class="mb-1 text-dark">
            Honey is a natural product produced by bees and has been used for thousands of years as a medicinal agent and dietary supplement. It is known to cure a wide variety of ailments and can be used as a potent anti-inflammatory and wound healing agent. These vital bioactivities of honey are far less well known than its antibacterial, antioxidant, and any other biological activities. Many clinical trials have been reported and revealed that, when honey is applied to wound, there is a decrease in inflammation and will have a soothing effect. There is much evidence for the anti-inflammatory and wound healing effects of honey in terms of publications in modern medical and scientific journals. The exact mechanism of anti-inflammatory activity and wound healing property of honey has yet to be demonstrated. Possibly there are several mechanisms of action. There are also some reports where honey exerts negligible side effects. The article focuses on the components of honey involved in its anti-inflammatory effect, possible mechanism of action, properties of honey responsible for its wound healing activity, and its adverse effects. Overall the review presents the evidence and explanation for the anti-inflammatory and wound healing properties of honey.
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/271935464_The_anti-inflammatory_and_wound_healing_properties_of_honey">View more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">July 2014</strong>
          <h5 class="mb-0 thisColor">Cationic Surfactant-Based Colorimetric Detection of Plasmodium Lactate Dehydrogenase, a Biomarker for Malaria, Using the Specific DNA Aptamer</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H • Seonghwan Lee • Weejeong Jeon • Changill Ban</div>
          <div class="mb-1 text-dark">
            A simple, sensitive, and selective colorimetric biosensor for the detection of the malarial biomarkers Plasmodium vivax lactate dehydrogenase (PvLDH) and Plasmodium falciparum LDH (PfLDH) was demonstrated using the pL1 aptamer as the recognition element and gold nanoparticles (AuNPs) as probes. The proposed method is based on the aggregation of AuNPs using hexadecyltrimethylammonium bromide (CTAB). The AuNPs exhibited a sensitive color change from red to blue, which could be seen directly with the naked eye and was monitored using UV-visible absorption spectroscopy and transmission electron microscopy (TEM). The reaction conditions were optimized to obtain the maximum color intensity. PvLDH and PfLDH were discernible with a detection limit of 1.25 pM and 2.94 pM, respectively. The applicability of the proposed biosensor was also examined in commercially available human serum.
          </div>
          <div>
            <a href="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig5/AS:669707648647187@1536682154922/Schematic-representation-of-the-biosensor-Schematic-representation-of-the-biosensor-for.jpg"><img src="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig5/AS:669707648647187@1536682154922/Schematic-representation-of-the-biosensor-Schematic-representation-of-the-biosensor-for_Q640.jpg" alt="" width="200"></a>
            <a href="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig6/AS:669707648647188@1536682154944/Optimization-of-CTAB-and-pL1-aptamer-concentrations-A-The-effect-of-the-concentration.ppm"><img class="mx-4 float-right" src="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig6/AS:669707648647188@1536682154944/Optimization-of-CTAB-and-pL1-aptamer-concentrations-A-The-effect-of-the-concentration_Q640.jpg" alt="" width="200"></a>
            <a href="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig7/AS:669707652841478@1536682155242/Colorimetric-detection-of-recombinant-PvLDH-A-The-calibration-curve-of-the-sensing.ppm"><img class="mx-4 float-right" src="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig7/AS:669707652841478@1536682155242/Colorimetric-detection-of-recombinant-PvLDH-A-The-calibration-curve-of-the-sensing_Q640.jpg" alt="" width="200"></a>
            <a href="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig8/AS:669707652833298@1536682155598/Detection-of-PvLDH-in-the-human-serum-sample-A-The-calibration-curve-of-the-sensing.jpg"><img class="my-4 float-right" src="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig8/AS:669707652833298@1536682155598/Detection-of-PvLDH-in-the-human-serum-sample-A-The-calibration-curve-of-the-sensing_Q640.jpg" alt="" width="200"></a>
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/263708443_Cationic_Surfactant-Based_Colorimetric_Detection_of_Plasmodium_Lactate_Dehydrogenase_a_Biomarker_for_Malaria_Using_the_Specific_DNA_Aptamer">View more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">July 2014</strong>
          <h5 class="mb-0 thisColor">PLOS ONE</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H</div>
          <div class="mb-1 text-dark">
            A simple, sensitive, and selective colorimetric biosensor for the detection of the malarial biomarkers Plasmodium vivax lactate dehydrogenase (PvLDH) and Plasmodium falciparum LDH (PfLDH) was demonstrated using the pL1 aptamer as the recognition element and gold nanoparticles (AuNPs) as probes. The proposed method is based on the aggregation of AuNPs using hexadecyltrimethylammonium bromide (CTAB). The AuNPs exhibited a sensitive color change from red to blue, which could be seen directly with the naked eye and was monitored using UV-visible absorption spectroscopy and transmission electron microscopy (TEM). The reaction conditions were optimized to obtain the maximum color intensity. PvLDH and PfLDH were discernible with a detection limit of 1.25 pM and 2.94 pM, respectively. The applicability of the proposed biosensor was also examined in commercially available human serum.
          </div>
          <div>
            <a href="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig5/AS:669707648647187@1536682154922/Schematic-representation-of-the-biosensor-Schematic-representation-of-the-biosensor-for.jpg"><img src="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig5/AS:669707648647187@1536682154922/Schematic-representation-of-the-biosensor-Schematic-representation-of-the-biosensor-for_Q640.jpg" alt="" width="200"></a>
            <a href="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig6/AS:669707648647188@1536682154944/Optimization-of-CTAB-and-pL1-aptamer-concentrations-A-The-effect-of-the-concentration.ppm"><img class="mx-4 float-right" src="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig6/AS:669707648647188@1536682154944/Optimization-of-CTAB-and-pL1-aptamer-concentrations-A-The-effect-of-the-concentration_Q640.jpg" alt="" width="200"></a>
            <a href="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig7/AS:669707652841478@1536682155242/Colorimetric-detection-of-recombinant-PvLDH-A-The-calibration-curve-of-the-sensing.ppm"><img class="mx-4 float-right" src="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig7/AS:669707652841478@1536682155242/Colorimetric-detection-of-recombinant-PvLDH-A-The-calibration-curve-of-the-sensing_Q640.jpg" alt="" width="200"></a>
            <a href="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig8/AS:669707652833298@1536682155598/Detection-of-PvLDH-in-the-human-serum-sample-A-The-calibration-curve-of-the-sensing.jpg"><img class="my-4 float-right" src="https://www.researchgate.net/profile/Seonghwan-Lee/publication/263708443/figure/fig8/AS:669707652833298@1536682155598/Detection-of-PvLDH-in-the-human-serum-sample-A-The-calibration-curve-of-the-sensing_Q640.jpg" alt="" width="200"></a>
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/263793639_PLOS_ONE">View more...</a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include("partials/footer"); -%>