<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2015</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">December 2015</strong>
          <h5 class="mb-0 thisColor">Flavonoids and Antioxidants in Medicinal Plants From Malaysia</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H • Lee Suan Chua • Nur Fashya Musa • Norliza Abdul Latiff</div>
          <div class="mb-1 text-dark">
            Medicinal plants are widely applied by mankind since prehistoric times as foods and medicines in their daily lives till to date. In Malaysia, herbs are commonly used by local practitioners as medicines for health enhancement and folk remedy. Although scientific data for Malaysian herbs are relatively limited, extensive studies have been actively carrying out by researchers nowadays. The deep interest in the study of herbal medicinal plants is mainly due to the limitation of drugs in the treatment of chronic diseases, as well as the inherent negative effects of the drugs. With the availability of advanced analytical equipment and sophisticated data mining software, the beneficial effects of some of the herbal medicinal plants can be explained up to the molecular level. Mostly, phytochemicals from the group of flavonoids have been reported as the major contributor to the biological activities. It is believed that the significant biological activities exhibited by the herbal materials are due to the presence of flavonoids acting as antioxidants. The unique structural characteristics of flavonoids have promoted them as good radical scavengers, reducing agents, hydrogen donors, singlet oxygen quenchers and/or metal chelators. Nevertheless, further study up to the clinical trial is necessary for safe consumption of medicinal herbs in the long run. The dosage of application based on the toxicity study is of great importance for both oral and topical use of medicinal herbs. Herbal industry in Malaysia promises good future as this country has natural endowment, particularly the biodiversity of flora.
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/294547364_Flavonoids_and_Antioxidants_in_Medicinal_Plants_From_Malaysia">View more...</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">January 2015</strong>
          <h5 class="mb-0 thisColor">Determination of Rivaroxaban in pure, pharmaceutical formulations and human plasma samples by RP-HPLC</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H</div>
          <div class="mb-1 text-dark">
            A simple, sensitive and rugged reverse-phase high performance liquid chromatographic method has been developed and validated for the determination of rivaroxaban in pure, pharmaceutical formulations and in spiked human plasma sample. The separation of rivaroxaban and internal standard was achieved on XDB C18 (150 x 4.6) mm column. Mobile phase employed for the study is the mixture of water and acetonitrile in gradient programme. A flow rate of 1 ml/min was found optimum for the study. Linearity of the proposed method was found to be in the range of 0.05 µg/ml to 20 µg/ml with r 2 =0.9999. The limit of detection and limit of quantification of the proposed method are found to be 0.015 µg/ml and 0.046 µg/ml, respectively. Intra-day and inter-day assay relative standard deviations were determined and found to be less than 2.0 %. The method has been applied successfully for the determination of rivaroxaban in its pharmaceutical formulations and in spiked human plasma samples.
          </div>
          <div>
            <a href="https://www.researchgate.net/profile/D-H-Manjunatha/publication/295636690/figure/tbl1/AS:669494204719113@1536631265540/System-suitability-parameters.png"><img src="https://www.researchgate.net/profile/D-H-Manjunatha/publication/295636690/figure/tbl1/AS:669494204719113@1536631265540/System-suitability-parameters_Q640.jpg" alt="" width="200"></a>
            <a href="https://www.researchgate.net/profile/D-H-Manjunatha/publication/295636690/figure/tbl2/AS:669494204715024@1536631265552/Precision-and-accuracy-data-for-the-determination-of-RVX.png"><img class="mx-4 float-right" src="https://www.researchgate.net/profile/D-H-Manjunatha/publication/295636690/figure/tbl2/AS:669494204715024@1536631265552/Precision-and-accuracy-data-for-the-determination-of-RVX_Q640.jpg" alt="" width="200"></a>
            <a href="https://www.researchgate.net/profile/D-H-Manjunatha/publication/295636690/figure/tbl3/AS:669494204715025@1536631265565/Analysis-of-RVX-in-its-dosage-forms.png"><img class="mx-4 float-right" src="https://www.researchgate.net/profile/D-H-Manjunatha/publication/295636690/figure/tbl3/AS:669494204715025@1536631265565/Analysis-of-RVX-in-its-dosage-forms_Q640.jpg" alt="" width="200"></a>
          </div>
          <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/295636690_Determination_of_Rivaroxaban_in_pure_pharmaceutical_formulations_and_human_plasma_samples_by_RP-HPLC">View more...</a>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>