<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2013</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">April 2013</strong>
          <h5 class="mb-0 thisColor">A colorimetric aptasensor for the diagnosis of malaria based on cationic polymers and gold nanoparticles</h5>
          <br>
          <div class="mb-1 text-muted">Dr. Manjunatha D H • Weejeong Jeon • Changill Ban • Seonghwan Lee</div>
          <br>
          <a class="hrefTag1" href="files/calorimetricaptatensor.pdf" download><u>Download full-text PDF</u></a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include("partials/footer"); -%>