<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2020</h1>
  <hr class="divider">

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 thisColor1">April 2013</strong> -->
          <h5 class="mb-0 thisColor">A Mini Review on COVID-19 Assays.</h5>
          <br>
          <div class="mb-1 text-muted">Manjunatha D. H.</div>
          <br>
          <div class="mb-1 text-dark">
            Karnatak University Journal of Science (ISSN: 0075-5168) <br>
            2020, 51, 70-78
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<%- include("partials/footer"); -%>