<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

  <h1>2022</h1>
  <hr class="divider mb-4">
  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">July 2022</strong>
          <h5 class="mb-0 thisColor">A PROCESS FOR SYNTHESIZING POLY-3-BUTYL THIOPHENE DOPED ZRY2O3/ZRCOY2O3 NANOSTRUCTURES Patent Certificate</h5>
          <br>
          <div class="mb-1 text-muted">Vinayak Adimule • Dr. Basappa C Yallur • Malathi Challa • [...] • Gangadhar B Bagihalli </div>
          <a class="hrefTag1" href="files/PatentCertificate.pdf" download><u>Download Patent Certificate</u></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">July 2022</strong>
          <h5 class="mb-0 thisColor">A PROCESS FOR SYNTHESIZING POLY-3-BUTYL THIOPHENE DOPED ZRY2O3/ZRCOY2O3 NANOSTRUCTURES Intimation of Grant</h5>
          <br>
          <div class="mb-1 text-muted">Vinayak Adimule • Dr. Basappa C Yallur • Malathi Challa • [...] • Gangadhar B Bagihalli </div>
          <a class="p-0 hrefTag1" href="files/Intimationofpatentgrant.pdf" download><u>Download Intimation of patent grant</u></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">June 2022</strong>
          <h5 class="mb-0 thisColor">202141055302 Patent Certificate.pdf</h5>
          <br>
          <div class="mb-1 text-muted">Vinayak Adimule • Dr Sheetal R Batakurki • Dr. Manjunatha D H • [...] • Dr. Maalathi Challa </div>
          <a class="p-0 hrefTag1" href="files/202141055302PatentCertificate.pdf" download><u>202141055302PatentCertificate</u></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">June 2022</strong>
          <h5 class="mb-0 thisColor">202141055302 Intimation of the grant.pdf</h5>
          <br>
          <div class="mb-1 text-muted">Vinayak Adimule • Basappa Yallur • Dr. Maalathi Challa • [...] • Gangadhar B Bagihalli </div>
          <a class="p-0 hrefTag1" href="files/202141055302Intimationofthegrant.pdf"><u>202141055302Intimationofthegrant</u></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 project  border overflow-auto flex-md-row mb-4  shadow-lg position-relative publications">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 thisColor1">May 2022</strong>
          <h5 class="mb-0 thisColor">2021104485-Innovation Patent Certificate.pdf</h5>
          <br>
          <div class="mb-1 text-muted">Vinayak Adimule • Dr. Maalathi Challa • Dr. Pallav Gupta • [...] • Rajeev Shesha Joshi </div>
          <a class="p-0 hrefTag1" href="files/2021104485-InnovationPatentCertificate.pdf"><u>2021104485-InnovationPatentCertificate</u></a>
        </div>
      </div>
    </div>
  </div>

</div>

<%- include("partials/footer"); -%>