<%- include("partials/header"); -%>

<div class="container mainPadding myFont1">

    <h1>2021</h1>
    <hr class="divider">
    

      <div class="row mb-2">
        <div class="col-md-12">
          <div class="row g-0 project  border overflow-auto flex-md-row mb-4 shadow-lg position-relative publications">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 thisColor1">November 2021</strong>
              <h5 class="mb-0 thisColor">Monitoring the interactions between bovine serum albumin and ZnO/Ag nanoparticles by spectroscopic techniques</h5>
              <br>
              <div class="mb-1 text-muted">Abhishek Udnoor, Manjunath Lokolkar, Basappa C. Yallur,Raju Kale, Muttanagoud N. Kalasad, Umesha Katrahalli & Devagondanahalli H. Manjunatha.</div>
              <div class="mb-1 text-dark">
                Journal of Biomolecular Structure and Dynamics (ISSN: 0739-1102 ; 1538-0254) <br>
                2021 <br>
                DOI: 10.1080/07391102.2021.2006788
              </div>
              <a class="p-0 hrefTag1" href="https://www.researchgate.net/publication/356538591_Monitoring_the_interactions_between_bovine_serum_albumin_and_ZnOAg_nanoparticles_by_spectroscopic_techniques">View more...</a>
            </div>
          </div>
        </div>
      </div>

      

      <div class="row mb-2">
        <div class="col-md-12">
          <div class="row g-0 project  border overflow-auto flex-md-row mb-4 shadow-lg position-relative publications">
            <div class="col p-4 d-flex flex-column position-static">
              <!-- <strong class="d-inline-block mb-2 thisColor1">April 2021</strong> -->
              <h5 class="mb-0 thisColor">Extractive spectrophotometric method for the determination of Oseltamivir Phosphate, Acyclovir and Famciclovir in pure and pharmaceutical formulations.</h5>
              <br>
              <div class="mb-1 text-muted">Nandeesha Itigimatha, Basappa C. Yallur and Manjunatha D. Hadagali*</div>
              <div class="mb-1 text-dark">
                Indian Drugs, (ISSN: 0019-462X) <br>
                2021 (In Press-Accepted) 
              </div>
            </div>
          </div>
        </div>
      </div>

</div>

<%- include("partials/footer"); -%>